{{#if (has-block)}}
  {{yield}}
{{else}}
  {{#if this.label}}
    <label class={{this.labelClass}}>{{this.label}}</label>
  {{/if}}
  <Input @value={{this.rangeText}} class={{this.inputClasses}} placeholder={{this.placeholder}} />
{{/if}}
